<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pj_bishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,112}}</string>
                <key>sourceSize</key>
                <string>{131,114}</string>
            </dict>
            <key>pj_fadai.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>pj_han.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{113,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{113,104}}</string>
                <key>sourceSize</key>
                <string>{115,106}</string>
            </dict>
            <key>pj_jianxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,2},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,99}}</string>
                <key>sourceSize</key>
                <string>{103,101}</string>
            </dict>
            <key>pj_kubile.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{105,106}}</string>
                <key>sourceSize</key>
                <string>{107,108}</string>
            </dict>
            <key>pj_kuxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{123,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,98}}</string>
                <key>sourceSize</key>
                <string>{125,100}</string>
            </dict>
            <key>pj_leibeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{122,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{122,107}}</string>
                <key>sourceSize</key>
                <string>{124,109}</string>
            </dict>
            <key>pj_outu.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{101,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,118}}</string>
                <key>sourceSize</key>
                <string>{103,120}</string>
            </dict>
            <key>pj_shengqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{101,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,112}}</string>
                <key>sourceSize</key>
                <string>{103,114}</string>
            </dict>
            <key>pj_wabishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{116,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,108}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>pj_yun.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{101,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,108}}</string>
                <key>sourceSize</key>
                <string>{103,110}</string>
            </dict>
            <key>zan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,2},{83,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,115}}</string>
                <key>sourceSize</key>
                <string>{85,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>biaoqing.png</string>
            <key>size</key>
            <string>{1370,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e615e60a3cf18a53d9cefcc5d07657a5:60e2fb6b4d14baa56a961d9bd1c87283:d2178e619d1a2850d6181166c61aa6dd$</string>
            <key>textureFileName</key>
            <string>biaoqing.png</string>
        </dict>
    </dict>
</plist>
