<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangseaniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{149,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,74}}</string>
                <key>sourceSize</key>
                <string>{149,76}</string>
            </dict>
            <key>lanseanniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,74}}</string>
                <key>sourceSize</key>
                <string>{149,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaoxitishitangchuanqietu.png</string>
            <key>size</key>
            <string>{304,78}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e46913a5052a58b3028a889ed86df797:a440ced223ece7a5271e2ae0ced1c183:ee6de074107e05c098a062f52432f733$</string>
            <key>textureFileName</key>
            <string>xiaoxitishitangchuanqietu.png</string>
        </dict>
    </dict>
</plist>
