<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bianxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1147,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1147,111}}</string>
                <key>sourceSize</key>
                <string>{1147,111}</string>
            </dict>
            <key>bofanganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,56},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>diwen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,2},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,102}}</string>
                <key>sourceSize</key>
                <string>{104,102}</string>
            </dict>
            <key>fangshouanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,76},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>hengganfenggexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,108},{37,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,5}}</string>
                <key>sourceSize</key>
                <string>{37,5}</string>
            </dict>
            <key>huatiaoanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,92},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>huatiaocao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,92},{12,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,58}}</string>
                <key>sourceSize</key>
                <string>{12,58}</string>
            </dict>
            <key>huatiaoniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,92},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>jiaantiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,2},{72,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,47}}</string>
                <key>sourceSize</key>
                <string>{72,47}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,76},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>qiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{88,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,67}}</string>
                <key>sourceSize</key>
                <string>{88,67}</string>
            </dict>
            <key>shenkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,2},{88,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,67}}</string>
                <key>sourceSize</key>
                <string>{88,67}</string>
            </dict>
            <key>tuozhangxiaokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,2},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>yuanhuawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,2},{86,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{86,85}</string>
            </dict>
            <key>zj_fengxianganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,2},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,55}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhanjiqietu.png</string>
            <key>size</key>
            <string>{1657,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d7511610e4fda32f6f6abd2d7be5a65:5d9b72cf82d29b7afbe95279e2566c70:2190f7f04fb5a34c4b04142bf180b0b4$</string>
            <key>textureFileName</key>
            <string>zhanjiqietu.png</string>
        </dict>
    </dict>
</plist>
