<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diwen_tangchuangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{544,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,142}}</string>
                <key>sourceSize</key>
                <string>{544,142}</string>
            </dict>
            <key>guananniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,69},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>img_man.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{950,69},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>img_woman.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{773,69},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>kaianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,69},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>kaiguancao.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,69},{75,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,43}}</string>
                <key>sourceSize</key>
                <string>{75,43}</string>
            </dict>
            <key>shangkuang_tangchuangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{551,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,66}}</string>
                <key>sourceSize</key>
                <string>{551,66}</string>
            </dict>
            <key>tangchuangkuanga-gerenxinxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{551,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,29}}</string>
                <key>sourceSize</key>
                <string>{551,29}</string>
            </dict>
            <key>xiakuang_tangchuangxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{551,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,65}}</string>
                <key>sourceSize</key>
                <string>{551,65}</string>
            </dict>
            <key>xinxitis_lvanniuxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,146},{216,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,88}}</string>
                <key>sourceSize</key>
                <string>{216,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shezhiqietu.png</string>
            <key>size</key>
            <string>{1122,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b315a633abac84d66e3ff45b669cbf60:62467df019e2b69759163a8a5e1adffc:32600e6fdd647098a313b0e703b4194e$</string>
            <key>textureFileName</key>
            <string>shezhiqietu.png</string>
        </dict>
    </dict>
</plist>
