<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaotikuang_tangchuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1427},{347,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{347,52}}</string>
                <key>sourceSize</key>
                <string>{349,54}</string>
            </dict>
            <key>diwen_tangchuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1703},{670,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{670,112}}</string>
                <key>sourceSize</key>
                <string>{672,114}</string>
            </dict>
            <key>jiazhaibeijingtu.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>jrfj_huanganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1817},{149,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{149,85}}</string>
                <key>sourceSize</key>
                <string>{151,87}</string>
            </dict>
            <key>jrfj_lvanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1817},{147,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{147,85}}</string>
                <key>sourceSize</key>
                <string>{149,87}</string>
            </dict>
            <key>jrfj_shanghuawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1465},{678,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{678,78}}</string>
                <key>sourceSize</key>
                <string>{680,80}</string>
            </dict>
            <key>jrfj_shuzianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1817},{147,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{147,86}}</string>
                <key>sourceSize</key>
                <string>{149,88}</string>
            </dict>
            <key>jrfj_xiahuawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{678,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{678,125}}</string>
                <key>sourceSize</key>
                <string>{680,127}</string>
            </dict>
            <key>jrfj_zhonghuawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1676},{678,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{678,25}}</string>
                <key>sourceSize</key>
                <string>{680,27}</string>
            </dict>
            <key>shangkuang_tangchuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1545},{678,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{678,64}}</string>
                <key>sourceSize</key>
                <string>{680,66}</string>
            </dict>
            <key>shuzixian_jianrufangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1703},{46,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,6}}</string>
                <key>sourceSize</key>
                <string>{48,8}</string>
            </dict>
            <key>tangchuangdikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1338},{87,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{87,66}}</string>
                <key>sourceSize</key>
                <string>{89,68}</string>
            </dict>
            <key>xiakuang_tangchuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1611},{678,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{678,63}}</string>
                <key>sourceSize</key>
                <string>{680,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiarufangjianqietu.png</string>
            <key>size</key>
            <string>{754,1905}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:511c78c6f3326f93f21ec61b1daed7b3:810b4421af9c49dcae3d830ec73a2114:af1a7dedd8d3a01e94be22a7a27eea4f$</string>
            <key>textureFileName</key>
            <string>jiarufangjianqietu.png</string>
        </dict>
    </dict>
</plist>
