<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IndicatorBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,198},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>battery_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,547},{49,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,30}}</string>
                <key>sourceSize</key>
                <string>{49,30}</string>
            </dict>
            <key>battery_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,582},{24,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,14}}</string>
                <key>sourceSize</key>
                <string>{24,14}</string>
            </dict>
            <key>bigTiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,488},{93,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,108}}</string>
                <key>sourceSize</key>
                <string>{93,108}</string>
            </dict>
            <key>bigTong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,344},{86,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,103}}</string>
                <key>sourceSize</key>
                <string>{86,103}</string>
            </dict>
            <key>bigWan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,449},{81,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,96}}</string>
                <key>sourceSize</key>
                <string>{81,96}</string>
            </dict>
            <key>chaJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,364},{122,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,70}}</string>
                <key>sourceSize</key>
                <string>{122,70}</string>
            </dict>
            <key>exitBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,598},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>exitBtnPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,598},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>game_fhdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,68},{180,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,64}}</string>
                <key>sourceSize</key>
                <string>{180,64}</string>
            </dict>
            <key>game_jsfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,2},{180,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,64}}</string>
                <key>sourceSize</key>
                <string>{180,64}</string>
            </dict>
            <key>game_main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>game_main_cbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{360,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,42}}</string>
                <key>sourceSize</key>
                <string>{360,42}</string>
            </dict>
            <key>game_yqhy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,134},{177,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,62}}</string>
                <key>sourceSize</key>
                <string>{177,62}</string>
            </dict>
            <key>gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,136},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>greenPoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,344},{88,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,22}}</string>
                <key>sourceSize</key>
                <string>{88,22}</string>
            </dict>
            <key>guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,207},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,277},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>infoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,198},{63,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,96}}</string>
                <key>sourceSize</key>
                <string>{63,96}</string>
            </dict>
            <key>liuGu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,2},{132,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,64}}</string>
                <key>sourceSize</key>
                <string>{132,64}</string>
            </dict>
            <key>lixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,441},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,598},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,344},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>questionBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,503},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>room_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,312},{128,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,30}}</string>
                <key>sourceSize</key>
                <string>{128,30}</string>
            </dict>
            <key>setBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,547},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>setBtnPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,296},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>talkBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,598},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>talkBtnPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,426},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,542},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,384},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,342},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>wifi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,466},{39,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,29}}</string>
                <key>sourceSize</key>
                <string>{39,29}</string>
            </dict>
            <key>yixuanque.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,416},{64,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,23}}</string>
                <key>sourceSize</key>
                <string>{64,23}</string>
            </dict>
            <key>zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,598},{44,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,25}}</string>
                <key>sourceSize</key>
                <string>{44,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dapai.png</string>
            <key>size</key>
            <string>{1433,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66fa2d74464a7cb4c983f35dd929357c:70f75e8ed80741fda6a02b0326e2b2c2:fde3db5557c75971d414da4cd8b12855$</string>
            <key>textureFileName</key>
            <string>dapai.png</string>
        </dict>
    </dict>
</plist>
