<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bei_bm.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>bei_zm.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>dong_bm.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>nan_bm.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>nan_tiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{35,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,46}}</string>
                <key>sourceSize</key>
                <string>{35,46}</string>
            </dict>
            <key>nan_tiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,30},{12,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,50}}</string>
                <key>sourceSize</key>
                <string>{12,50}</string>
            </dict>
            <key>nan_tiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>nan_tiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,2},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>nan_tiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>nan_tiao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>nan_tiao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{36,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,49}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>nan_tiao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>nan_tiao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,2},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>nan_tong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>nan_tong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,2},{22,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,48}}</string>
                <key>sourceSize</key>
                <string>{22,48}</string>
            </dict>
            <key>nan_tong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>nan_tong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>nan_tong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>nan_tong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,2},{26,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{26,48}</string>
            </dict>
            <key>nan_tong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
            <key>nan_tong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,2},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>nan_tong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>nan_wan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{35,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,43}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>nan_wan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,2},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>nan_wan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{34,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,49}}</string>
                <key>sourceSize</key>
                <string>{34,49}</string>
            </dict>
            <key>nan_wan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,2},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,49}}</string>
                <key>sourceSize</key>
                <string>{32,49}</string>
            </dict>
            <key>nan_wan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,2},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>nan_wan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,2},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>nan_wan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,2},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>nan_wan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{33,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,48}}</string>
                <key>sourceSize</key>
                <string>{33,48}</string>
            </dict>
            <key>nan_wan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{36,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,49}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>nan_zm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>xi_bm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>xi_cm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2},{26,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{26,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pai.png</string>
            <key>size</key>
            <string>{1665,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6468e65776d0f4dea6ac9734d23ef0a5:d4310f51a8f9987ba3784bc55cadc8f5:a0fcd5292797d58aa6b83b0527728e34$</string>
            <key>textureFileName</key>
            <string>pai.png</string>
        </dict>
    </dict>
</plist>
