<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,513},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>jiaxiangdaer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{584,548}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{584,548}}</string>
                <key>sourceSize</key>
                <string>{586,550}</string>
            </dict>
            <key>jiazaijindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{446,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,28}}</string>
                <key>sourceSize</key>
                <string>{446,28}</string>
            </dict>
            <key>jiazaijindutiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{446,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,28}}</string>
                <key>sourceSize</key>
                <string>{446,28}</string>
            </dict>
            <key>tongyikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>weixintubiaodenglv.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,450},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,61}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dengluqietu.png</string>
            <key>size</key>
            <string>{693,552}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15f4ff03082c4a443b9929973f5d3b27:4bffcce6b5d92c3c40c5e995fc6f71d5:0be8a4f80b63cdda825cac392ad2e4de$</string>
            <key>textureFileName</key>
            <string>dengluqietu.png</string>
        </dict>
    </dict>
</plist>
