<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biankuanghuawen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,120},{112,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,120}}</string>
                <key>sourceSize</key>
                <string>{112,120}</string>
            </dict>
            <key>bianshangliangguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,30},{607,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,4}}</string>
                <key>sourceSize</key>
                <string>{607,4}</string>
            </dict>
            <key>caidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,116}}</string>
                <key>sourceSize</key>
                <string>{496,116}</string>
            </dict>
            <key>chi_jiesuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,403},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>guang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{382,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,113}}</string>
                <key>sourceSize</key>
                <string>{382,113}</string>
            </dict>
            <key>guang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{345,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,331}}</string>
                <key>sourceSize</key>
                <string>{345,331}</string>
            </dict>
            <key>guang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1357},{59,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,68}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>guang_shu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{296,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,115}}</string>
                <key>sourceSize</key>
                <string>{296,115}</string>
            </dict>
            <key>guang_shu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1357},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>guangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1330},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,60}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>guanjun_zhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1363},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>huangseliangguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1156},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>huawen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,526},{137,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,241}}</string>
                <key>sourceSize</key>
                <string>{137,241}</string>
            </dict>
            <key>hupaihongkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1427},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>jiesuan_biankuanghuawenshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1427},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>jiesuan_biankuanghuawenxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1427},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>jiesuan_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1363},{99,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,48}}</string>
                <key>sourceSize</key>
                <string>{99,48}</string>
            </dict>
            <key>jiesuan_huangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1058},{184,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,78}}</string>
                <key>sourceSize</key>
                <string>{184,78}</string>
            </dict>
            <key>jiesuan_hupaihuangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1427},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>jiesuan_lvanniuda.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{260,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,96}}</string>
                <key>sourceSize</key>
                <string>{260,96}</string>
            </dict>
            <key>jiesuan_neirongkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1099},{124,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,107}}</string>
                <key>sourceSize</key>
                <string>{124,107}</string>
            </dict>
            <key>jiesuan_xiaohuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,980},{67,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,31}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>jinjiangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1231},{213,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,130}}</string>
                <key>sourceSize</key>
                <string>{213,130}</string>
            </dict>
            <key>js_honganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,967},{89,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,45}}</string>
                <key>sourceSize</key>
                <string>{89,45}</string>
            </dict>
            <key>js_huanganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,855},{208,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,84}}</string>
                <key>sourceSize</key>
                <string>{208,84}</string>
            </dict>
            <key>js_lvanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,769},{208,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,84}}</string>
                <key>sourceSize</key>
                <string>{208,84}</string>
            </dict>
            <key>js_xiaohuanganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,904},{74,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,33}}</string>
                <key>sourceSize</key>
                <string>{74,33}</string>
            </dict>
            <key>lihua_cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,673},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>lihua_hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,697},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>lihua_hongxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,447},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>lihua_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,424},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>lihua_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,726},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>long_jiesuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,382},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>neironghuawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1099},{69,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,55}}</string>
                <key>sourceSize</key>
                <string>{69,55}</string>
            </dict>
            <key>neirongkuang_jiaan.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1357},{43,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,87}}</string>
                <key>sourceSize</key>
                <string>{43,87}</string>
            </dict>
            <key>neirongkuang_zaoxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1244},{111,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,165}}</string>
                <key>sourceSize</key>
                <string>{111,165}</string>
            </dict>
            <key>neirongkuanghangsebufeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1020},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>neirongxiaokuang_zongjiesuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1363},{87,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,107}}</string>
                <key>sourceSize</key>
                <string>{87,107}</string>
            </dict>
            <key>paijujiesu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{317,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,77}}</string>
                <key>sourceSize</key>
                <string>{317,77}</string>
            </dict>
            <key>peng_jiesuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,361},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>shugang.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{5,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,26}}</string>
                <key>sourceSize</key>
                <string>{5,26}</string>
            </dict>
            <key>shuguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,242},{282,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,126}}</string>
                <key>sourceSize</key>
                <string>{282,126}</string>
            </dict>
            <key>shujia.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1020},{185,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,77}}</string>
                <key>sourceSize</key>
                <string>{185,77}</string>
            </dict>
            <key>tongjiangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1099},{213,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,130}}</string>
                <key>sourceSize</key>
                <string>{213,130}</string>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1208},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xiaokuang_zongjiesuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,869},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>yingguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{367,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,103}}</string>
                <key>sourceSize</key>
                <string>{367,103}</string>
            </dict>
            <key>yingjia_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,941},{185,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,77}}</string>
                <key>sourceSize</key>
                <string>{185,77}</string>
            </dict>
            <key>yinjiangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{213,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,130}}</string>
                <key>sourceSize</key>
                <string>{213,130}</string>
            </dict>
            <key>zhao_jiesuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,340},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>zuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1399},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiesuanqietu.png</string>
            <key>size</key>
            <string>{510,1471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcf68327930e2663807fb59a8b0c7d3f:232afffee19f9a7f3bedbc7d982fc76d:905e4a6db6fb82cc66ceaea25587c0a2$</string>
            <key>textureFileName</key>
            <string>jiesuanqietu.png</string>
        </dict>
    </dict>
</plist>
