<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,465},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,36}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>1_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,415},{20,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,35}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>1_shuzong.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,224},{23,49}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{23,49}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>1_yingzong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{23,49}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{23,49}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>2_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,465},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,36}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>3_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,275},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,36}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>4_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,456},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,35}}</string>
                <key>sourceSize</key>
                <string>{30,37}</string>
            </dict>
            <key>5_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,413},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,35}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>6_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,465},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,36}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>7_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,413},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,35}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>8_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,465},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,36}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>9_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,335},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,36}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,224},{216,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{216,88}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>beijingguan_shangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{381,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{381,102}}</string>
                <key>sourceSize</key>
                <string>{383,104}</string>
            </dict>
            <key>biankuanghuawen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,383},{112,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{112,120}}</string>
                <key>sourceSize</key>
                <string>{114,122}</string>
            </dict>
            <key>caidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,106},{496,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{496,116}}</string>
                <key>sourceSize</key>
                <string>{498,118}</string>
            </dict>
            <key>fangka_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,314},{139,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{139,158}}</string>
                <key>sourceSize</key>
                <string>{141,160}</string>
            </dict>
            <key>fangka_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,314},{161,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,164}}</string>
                <key>sourceSize</key>
                <string>{163,166}</string>
            </dict>
            <key>fangka_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,302},{193,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{193,164}}</string>
                <key>sourceSize</key>
                <string>{195,166}</string>
            </dict>
            <key>fangka_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,106},{201,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{201,196}}</string>
                <key>sourceSize</key>
                <string>{203,198}</string>
            </dict>
            <key>guanbianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,409},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,76}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>guang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{345,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{345,331}}</string>
                <key>sourceSize</key>
                <string>{347,333}</string>
            </dict>
            <key>guang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,420},{59,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,68}}</string>
                <key>sourceSize</key>
                <string>{61,70}</string>
            </dict>
            <key>huawen_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,106},{193,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{193,194}}</string>
                <key>sourceSize</key>
                <string>{195,196}</string>
            </dict>
            <key>ic_zf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{246,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,78}}</string>
                <key>sourceSize</key>
                <string>{246,78}</string>
            </dict>
            <key>ic_zf_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,224},{246,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,77}}</string>
                <key>sourceSize</key>
                <string>{246,77}</string>
            </dict>
            <key>ic_zf_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{223,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,48}}</string>
                <key>sourceSize</key>
                <string>{223,48}</string>
            </dict>
            <key>ic_zf_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,106},{161,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,32}}</string>
                <key>sourceSize</key>
                <string>{161,32}</string>
            </dict>
            <key>jia_zongjiesuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,413},{40,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{40,41}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>jiagekuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,335},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,44}}</string>
                <key>sourceSize</key>
                <string>{61,46}</string>
            </dict>
            <key>jian_zongjiesuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,304},{40,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,20},{40,11}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>juanzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{545,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{545,102}}</string>
                <key>sourceSize</key>
                <string>{547,104}</string>
            </dict>
            <key>neirongkuang_zaoxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,383},{111,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{111,165}}</string>
                <key>sourceSize</key>
                <string>{113,167}</string>
            </dict>
            <key>neirongxiaokuang_zongjiesuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,304},{87,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{87,107}}</string>
                <key>sourceSize</key>
                <string>{89,109}</string>
            </dict>
            <key>shangchengkuang0426.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,304},{99,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,103}}</string>
                <key>sourceSize</key>
                <string>{101,105}</string>
            </dict>
            <key>shangchengzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,303},{186,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,78}}</string>
                <key>sourceSize</key>
                <string>{186,78}</string>
            </dict>
            <key>zhangfangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,302},{116,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,37}}</string>
                <key>sourceSize</key>
                <string>{118,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shangchengqietu.png</string>
            <key>size</key>
            <string>{1279,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9a2f9542df634212690106c7b28647a:0e3b5685ea7a4027fe234e2eaf9d32d9:78ebcee498cee85e40ec7eb82db75a25$</string>
            <key>textureFileName</key>
            <string>shangchengqietu.png</string>
        </dict>
    </dict>
</plist>
